/*===================

CSS Reset Rule

=====================*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================

Universal Styling

===========================*/

.container {
	width: 100%;
	margin: 0 auto;
}

header {
	width: 100%;
	background-color: #4E4E4E;
	height: 6em;
}

h1 {
	color: #0000000;
	margin: .2em;
	font-size: 1.2em;
	font-family: dazzle-unicase, sans-serif;
	font-weight: 300;
	font-style: normal;
}

h2 {
	font-size: 1.25em;
	padding: 1em;
	font-family: dazzle-unicase, sans-serif;
	font-style: bold;

}

h3 {
	font-size: 1.2em;
	padding: 1em;
	font-family: din-2014-narrow, sans-serif;
	font-weight: 200;
	font-style: normal;
}

h4 {
	font-size: 1.25em;
	padding: .2em;
}

p {
	font-size: 1em;
	line-height: 200%;
	margin: .25em;
	padding: .5em;
	font-family: din-2014-narrow, sans-serif;
	font-weight: 400;
	font-style: normal;
}


/*==================

Header Styling

===================*/

.logo {
	float: left;
	width: 20%;
	vertical-align: top;
	margin: .5em;
}

.logo img {
	max-width: 80%;
}

.logo img[alt="circular logo"] {
	display: block;
}

.logo img[alt="horizontal logo"] {
	display: none;
}

/*=========================

Hamburger Navigation

=========================*/

#hamitems {
    position: sticky;
    top: 0;
}

#navright {
    float: right;
    width: 40%;
    vertical-align: top;
    text-align: right;
    font-size: 1em;
}

#navright label {
    display: inline-block;
    color: #ffffff;
    font-size: 3em;
    padding: .5em;
}

#hamitems a{
    display:block;
	color: #000000;
    text-decoration: none;
    padding: .25em;
	font-family: dazzle-unicase, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#hamitems {
    display: none;
}

#navright input:checked ~ #hamitems {
    display: block;
}

#hamburger {
    display: none;
}

/*================================

Hero Styling

================================*/

img .hero {
    width: 100%;
    background-size: cover;
    position: relative;
}

.hero img[alt="kids swim lessons"] {
    display: none;
}



/*====================

Body Styling

===================*/

.responsive {
    width: 100%;
    height: auto;
  }

button a{
	text-decoration: none;
	font-size: .9em;
	color: #ffffff;
	font-family: dazzle-unicase, sans-serif;
	font-weight: 400;
	font-style: normal;
}

button {
	background-image: linear-gradient(to right, #7AD3DC, #9498EE, #FFB5D1 );
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

section {
	background-color: #EAEBFB;
}

section h1 {
	padding: .2em;
}

.new-student img {
    width: 75%;
    padding: 1.5em;
}

/*===============================

 Home Form Styling

=================================*/

input#femail {
    margin: 1em;
	border-radius: 1.25em;
	border-color:#ffffff;
	width: 60%;
	font-family: din-2014-narrow, sans-serif;
	font-size: 1em;
	opacity: 75%;
}

input#submit {
	margin: 1em;
	border-radius: 1.25em;
	background-color:#ffffff;
	width: 30%;
	font-family: dazzle-unicase, sans-serif;
	font-weight: 500;
	font-style: normal;
	background-image: linear-gradient(to right, #7AD3DC, #9498EE, #FFB5D1 );

}

/*==================

Footer Styling

===================*/

#footer {
	background-color:#4E4E4E;
	bottom: 0;
	width: 100%;
	height: 6rem;            /* Footer height */
}

#footer p {
	color: white;
	font-size: 1em;
}


/*===============================

Contact Page Styling

=================================*/
  
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
	background-image: linear-gradient(to right, #7AD3DC, #9498EE, #FFB5D1 );
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffffff;
}

.contact-container {
	width: 80%;
	border-radius: 20px;
	background-color: #EAEBFB;;
	padding: 1em;
	margin: 1.5em;
  }

/*===============================

About Page Styling

=================================*/




/*===============================

Media Queries

=================================*/

@media screen and (min-width: 320px) {
   
 
	

/*--------About Page MQ 320px------------*/


/*--------Contact Page MQ 320px------------*/


/*-------- Page MQ 320px------------*/





}

@media screen and (min-width: 576px){

    .logo img {
        width: 60%;
    }

    h1 {
        text-align: center;
    }

    button {
		margin: 1em;
		background-color:#ffffff;
		border-radius: 1.25em;
		width: 33%;
		text-align: center;
		background-image: linear-gradient(to right, #7AD3DC, #9498EE, #FFB5D1 );
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 2.1em;
		padding: .5em;

	}

	h3 {
		font-size: 2em;
		padding: 0.5em;
	}

	p {
		font-size: 1.2em;
	}

	figure.new-student {
		text-align: center;
	}


/*--------About Page MQ 576px------------*/


/*--------Contact Page MQ 576px------------*/


/*--------Page MQ 576px------------*/





}

@media screen and (min-width: 768px){
    
    .logo img {
        width: 45%;
    }

    #navright {
        width: 70%;
        line-height: 1.7em;
    }

    #hamitems {
        display: flex;
        float: right;
    }

    #hamitems li {
        flex-grow: 1;
        flex-basis: 0;
        padding: 2em;
        text-align: center;	
    }

    #hamitems a {
        border-top:none;
        display: block;
        padding: .5em;
		color:#ffffff;
    }

    #navright label {
        display: none;
	}

	.hero img[alt="mobile swim lesson"] {
		display: none;
	}

	.hero img[alt="kids swim lessons"] {
        display: block;
    }

	.logo img[alt="circular logo"] {
		display: none;
	}
	
	.logo img[alt="horizontal logo"] {
		display: inline;
		width: 80%;
	}

	aside {
        display: inline;
        width: 50%;
        float: left;
    }

    article {
        display: inline-block;
        width: 50%;
		position: relative;
    }

    article p{
        font-size: 1em;
        padding: 1.25em; 
    }

	

/*--------About Page MQ 768px------------*/


.owner img {
	width: 80%;
	margin: 3em;
}

/*--------Contact Page MQ 768px------------*/


/*-------- Page MQ 768px------------*/






}

@media screen and (min-width: 992px)  {

	.logo img {
        width: 45%;
    }

	#hamitems li {
        flex-grow: 1;
        flex-basis: 0;
        padding: 2em;
        text-align: center;
		
    }

    #hamitems a {
        border-top:none;
        display: block;
        padding: .5em;
		color:#ffffff;
    }

	button {
		width: 27%;
		text-align: center;
	}

	.new-student img {
        width: 80%;
        padding: 2.5em;
    }

	article p{
        font-size: 1.5em;
        padding: 1.25em; 
    }

/*--------About Page MQ 992px------------*/


/*--------Contact Page MQ 992px------------*/


/*-------- Page MQ 992px------------*/





}


@media screen and (min-width: 1200px){

	.logo {
        width: 12%;
    }
	h1 {
		font-size: 2.5em;
	}

	p {
		font-size: 1.8em;
	}

	.new-student img {
        width: 47%;
        padding: .5em;
    }

	#footer {
		height: 10em;
	}

/*--------About Page MQ 1200px------------*/

	.owner img {
		width: 50%;

/*--------Contact Page MQ 1200px------------*/


/*-------- Page MQ 1200px------------*/






}